// html
//   scroll-behavior: smooth

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 24px
  min-width: 375px
  color: var(--color-white)
  background: var(--color-black)

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

input, textarea, button, select
  outline: none
  border: 0
  border-radius: 0

button
  cursor: pointer

input, textarea
  background: transparent

.wrapper
  // overflow: hidden
  width: 100%
  margin: 0 auto

.container
  position: relative
  z-index: 5
  max-width: 1920px
  padding: 0 40px
  margin: 0 auto

.title
  font-size: 52px
  text-transform: uppercase
  font-weight: 500
  line-height: 1.2

.btn
  @include flexbox
  align-items: center
  gap: 10px
  background: transparent
  color: #fff
  &-pattern
    font-size: 14px
    text-transform: uppercase
    font-weight: 500
    line-height: 16px
    padding: 16px 20px 16px 74px
    border-radius: 999px
    border: 1px solid var(--color-stroke)
    position: relative
    height: 80px
    transition: .3s
    background-image: url(../img/pattern.png)
    background-position: top right
    background-size: 24px
    span
      transition: .3s
    &::before
      content: ''
      position: absolute
      left: 15px
      display: block
      width: 48px
      height: 48px
      border-radius: 100%
      background-color: var(--color-accent)
      background-repeat: no-repeat
      background-position: center
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4763 9.16658L9.00625 4.69657L10.1848 3.51807L16.6666 9.99992L10.1848 16.4817L9.00625 15.3032L13.4763 10.8332H3.33325V9.16658H13.4763Z' fill='white'/%3E%3C/svg%3E%0A")
      transition: .3s
      z-index: 5
    &:hover
      background-color: var(--color-accent)
      span
        transform: translateX(-54px)
      &::before
        left: calc(100% - 48px - 15px)
        background-color: var(--color-white)
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4763 9.16658L9.00625 4.69657L10.1848 3.51807L16.6666 9.99992L10.1848 16.4817L9.00625 15.3032L13.4763 10.8332H3.33325V9.16658H13.4763Z' fill='%23FF931E'/%3E%3C/svg%3E%0A")
  &-arrow
    font-size: 12px
    font-weight: 500
    line-height: 1.1
    color: var(--color-accent)
    transition: .3s
    &::after
      content: ''
      display: block
      width: 48px
      height: 32px
      border-radius: 99px
      border: 1px solid var(--color-accent)
      transition: .3s
      background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.43347 6.41685L6.30447 3.28785L7.12942 2.46289L11.6667 7.00019L7.12942 11.5374L6.30447 10.7125L9.43347 7.58352H2.33337V6.41685H9.43347Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center
    &:hover::after
      background-color: var(--color-accent)

.main
  background: var(--color-black)
  position: relative
  z-index: 50

.home-nav
  padding-top: 50px
  ul
    @include flexbox
    align-items: center
    justify-content: space-between
    font-size: 14px
    color: var(--color-white-opacity)
    a
      transition: .3s
      &:hover
        color: var(--color-accent)

.full-image
  width: calc(100% - 80px)
  margin: 0 auto
  height: calc(100vh - 80px)
  transform: scale(0.7)
  position: relative
  transform-origin: top center
  img
    max-width: initial
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    border-radius: var(--border-radius-lg)
    position: absolute
    top: 0
    left: 0
    transition: .3s
    &:nth-child(2)
      opacity: 0
  &.change
    img:nth-child(2)
      opacity: 1

.full-image-2
  width: 100%
  margin: 0 auto
  height: 100vh
  transform: scale(1)
  position: relative
  overflow: hidden
  border-radius: 0
  img
    max-width: initial
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    position: absolute
    top: 0
    left: 0
    transition: .3s

.label
  display: block
  position: relative
  width: 100%
  &-text
    display: block
    position: absolute
    top: 25px
    left: 0
    font-size: 24px
    font-weight: 500
    color: rgba(255,255,255,.25)
    transition: .3s
  &-input
    width: 100%
    height: 80px
    border-bottom: 1px solid rgba(255,255,255,.25)
    transition: .3s
    font-size: 24px
    font-weight: 500
    color: #fff
    padding: 0
    @include placeholder
      color: rgba(255,255,255,0)
    &:focus, &:active
      border-color: var(--color-accent)
      & + .label-text
        font-size: 14px
        top: 90px
    &:not(:placeholder-shown) + .label-text
      font-size: 14px
      top: 90px
    &[required] + .label-text::after
      content: '*'
      color: var(--color-accent)

.checkbox
  display: block
  cursor: pointer
  input
    @include visually-hidden
    &:checked + span
      &::before
        border-color: var(--color-accent)
        background: var(--color-accent)
      &::after
        opacity: 1
  span
    display: block
    position: relative
    font-size: 14px
    line-height: 24px
    color: var(--color-white-opacity)
    padding-left: 34px
    &::before
      content: ''
      position: absolute
      width: 22px
      height: 22px
      top: 1px
      left: 0
      border-radius: 6px
      border: 2px solid rgba(255,255,255,.25)
      transition: .2s
    &::after
      content: ''
      position: absolute
      width: 22px
      height: 22px
      top: 1px
      left: 0
      transition: .2s
      opacity: 0
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.003 15.9996L6.76001 11.7566L8.17401 10.3426L11.003 13.1716L16.659 7.51465L18.074 8.92865L11.003 15.9996Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center

.captcha
  @include flexbox
  align-items: center
  justify-content: space-between
  &-text
    font-size: 18px
    line-height: 1.1
    color: var(--color-white-opacity)
    b
      font-weight: 500
      color: var(--color-white)
    span
      color: var(--color-accent)
  &-values
    @include flexbox
    align-items: center
    gap: 5px
  &-item
    display: block
    &:hover span
      border-color: #fff
    input
      @include visually-hidden
      &:checked + span
        border-color: var(--color-accent)
        color: var(--color-accent)
    span
      display: block
      padding: 12px
      border-radius: 100%
      border: 1px solid var(--color-stroke)
      background: url(../img/pattern.png) top right / 24px
      cursor: pointer
      transition: .3s
      svg
        display: block
        width: 24px
        height: 24px

.marquee-container
  width: 100%
  white-space: nowrap
  position: relative

.marquee-text
  display: inline-block
  position: absolute
  left: 0
  will-change: transform
