<footer class="footer">
	<div class="footer-content">
		<div class="footer-main">
			<div class="container">
				<a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
				<div class="footer-row">
					<div class="footer-col">
						<div class="footer-nav">
							<p>Меню</p>
							<ul>
								<li><a href="#">Агентство</a></li>
								<li><a href="#">Услуги</a></li>
								<li><a href="#">Проекты</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-col">
						<div class="footer-nav">
							<p>Услуги</p>
							<ul>
								<li><a href="#">Исследования рынка</a></li>
								<li><a href="#">Брендинг</a></li>
								<li><a href="#">Дизайн</a></li>
								<li><a href="#">Стратегии продвижения</a></li>
								<li><a href="#">Креатив и сторителлинг</a></li>
								<li><a href="#">Performance маркетинг</a></li>
								<li><a href="#">Продакшн</a></li>
								<li><a href="#">web-разработка</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-col">
						<div class="footer-nav">
							<p>Ссылки</p>
							<ul>
								<li><a href="#">Instagram</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Vkontakte</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<ul class="footer-bottom__nav">
					<li><a href="#">Политика конфиденциальности</a></li>
					<li><a href="#">Cookie</a></li>
				</ul>
				<div class="footer-bottom__copyright">Все права защищены © 2024 Sageous</div>
			</div>
		</div>
		</div>
</footer>