<header class="header{% if site_title === 'Главная' %} header-home{% endif %}">
	<div class="container">
		<a href="/" class="header-logo"><img src="img/svg/logo.svg" alt=""></a>
		{% if site_title === 'Главная' %}
			<div class="header-row">
				<div class="header-col">
					<div class="header-nav">
						<p>Телефон</p>
						<ul>
							<li><a href="tel:+7920343232">+7920343232</a></li>
						</ul>
					</div>
					<div class="header-nav">
						<p>Email</p>
						<ul>
							<li><a href="mailto:sageous@info.com">sageous@info.com</a></li>
						</ul>
					</div>
				</div>
				<div class="header-col">
					<div class="header-nav">
						<p>Меню</p>
						<ul>
							<li><a href="#">Агентство</a></li>
							<li><a href="#">Услуги</a></li>
							<li><a href="#">Проекты</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="header-burger">
			<div class="header-burger__button header-burger__open">
				<div class="header-burger__button-name">Меню</div>
				<div class="header-burger__button-icon"></div>
			</div>
			<div class="header-burger__popup">
				<div class="header-burger__popup-head">
					<div class="header-burger__popup-label">Меню</div>
					<div class="header-burger__button header-burger__close">
						<div class="header-burger__button-name">Закрыть</div>
						<div class="header-burger__button-icon"></div>
					</div>
				</div>
				<ul class="header-burger__popup-nav">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Агентство</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Проекты</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<ul class="header-burger__popup-contacts">
					<li>
						<span class="header-burger__popup-label">Email</span>
						<a href="mailto:sageous@info.com">sageous@info.com</a>
					</li>
					<li>
						<span class="header-burger__popup-label">Телефон</span>
						<a href="tel:+7920343232">+7920343232</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>