.footer
	background: rgba(0,0,0,.35)
	// &-content
	// 	transform: translateY(-100%)
	&-main
		padding: var(--gap) 0
		.container
			@include flexbox
			align-items: flex-start
			gap: calc(var(--gap) / 2)
	&-logo
		display: block
		img
			height: 46px
	&-row
		@include flexbox
		align-items: flex-start
		justify-content: space-between
		max-width: var(--width-content)
		flex: 1
		margin-left: auto
	&-col
		@include flexbox
		flex-direction: column
		align-items: flex-start
		gap: calc(var(--gap) / 2)
	&-nav
		p
			font-size: 14px
			color: var(--color-white-opacity)
			line-height: 18px
			margin-bottom: 20px
		ul
			font-size: 18px
			line-height: 22px
			font-weight: 500
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 10px
			li
				a
					transition: .2s
					display: block
					position: relative
					&::before
						content: ''
						position: absolute
						top: 0
						bottom: 0
						left: -16px
						width: 0px
						height: 0px
						border-radius: 100%
						background: var(--color-accent)
						margin: auto 0
						transition: .2s
						pointer-events: none
				&:hover a
					color: var(--color-accent)
					transform: translateX(16px)
					&::before
						width: 6px
						height: 6px
	&-bottom
		font-size: 14px
		color: var(--color-white-opacity)
		padding: 22px 0
		.container
			@include flexbox
			align-items: flex-start
			justify-content: space-between
			gap: calc(var(--gap) / 2)
		&__nav
			@include flexbox
			align-items: flex-start
			gap: calc(var(--gap) / 2)
			a
				transition: .3s
				&:hover
					color: var(--color-accent)
	&-feedback
		padding: var(--padding-section) 0
		border-bottom: 1px solid rgba(255, 255, 255, .25)
		.container
			@include flexbox
			align-items: flex-start
			gap: calc(var(--gap) / 2)
		&__ready
			@include flexbox
			align-items: center
			gap: 10px
			margin-bottom: 30px
			font-size: 16px
			line-height: 20px
			font-weight: 500
			span
				display: block
				width: 54px
				height: 32px
				border-radius: 99px
				border: 1px solid var(--color-stroke)
				background: url(../img/pattern.png) top right / 24px
				transition: .3s
				position: relative
				&::before
					content: ''
					position: absolute
					top: 0
					bottom: 0
					left: 10px
					width: 12px
					height: 12px
					border-radius: 100%
					background: #fff
					margin: auto 0
					transition: .3s
				&.active
					background-color: var(--color-accent)
					&::before
						left: 32px
		&__content
			max-width: var(--width-content)
			flex: 1
			margin-left: auto
			.title
				margin-bottom: var(--gap)
		&__desc
			margin-bottom: var(--gap)
			color: var(--color-white-opacity)
			line-height: 1.4
		&__form
			@include flexbox
			align-items: center
			gap: 30px 40px
			.label
				&:nth-child(1),
				&:nth-child(2)
					flex: 1
			&-footer
				width: 100%
				margin-top: 50px
				@include flexbox
				align-items: center
				justify-content: space-between
			&-captcha
				width: 100%
				margin-top: 50px
		&__sticky
			position: sticky
			top: 20px
			width: 445px
			img
				border-radius: 30px
				margin-bottom: 100px
		&__contacts
			@include flexbox
			align-items: flex-start
			justify-content: space-between
			width: 100%
			li
				span
					display: block
					margin-bottom: 20px
					font-size: 14px
					color: var(--color-white-opacity)
				a
					display: block
					font-size: 16px
					font-weight: 500
					transition: .2s
					line-height: 20px
					&:hover
						color: var(--color-accent)
