.projects
	&-item
		position: relative
		&__image
			width: 100%
			height: 510px
			@include flexbox
			justify-content: flex-end
			align-items: flex-end
			position: relative
			overflow: hidden
			border-radius: var(--border-radius)
			padding: 20px
			margin-bottom: 40px
			img
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
				transition: .3s
			ul
				@include flexbox
				flex-direction: column
				align-items: flex-end
				gap: 10px
				position: relative
				z-index: 10
				li
					font-size: 14px
					padding: 6px 10px
					line-height: 20px
					border-radius: 99px
					border: 1px solid var(--color-stroke)
					background: url(../img/pattern.png) top right / 24px
					backdrop-filter: blur(10px)
		&__name
			font-size: 24px
			font-weight: 500
			display: block
			transition: .3s
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: 20
		&__desc
			margin-top: 10px
			font-size: 14px
			color: var(--color-white-opacity)
		&-sm .projects-item__image
			height: 330px
		&:hover
			.projects-item__name
				color: var(--color-accent)
			.projects-item__image img
				transform: scale(1.06)
	&-categories
		@include flexbox
		align-items: flex-start
		margin-bottom: 80px
		gap: 10px
		li
			a
				display: block
				font-size: 16px
				line-height: 18px
				padding: 16px
				border-radius: 99px
				border: 1px solid var(--color-stroke)
				background: url(../img/pattern.png) top right / 24px
				transition: .2s
			&.active a,
			a:hover
				border-color: var(--color-accent)
				color: var(--color-accent)
	&-grid
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 80px 40px
		padding-bottom: var(--padding-section)

	&-title
		padding-bottom: 140px
		h1
			font-size: var(--font-size-xxl)
			text-transform: uppercase
			font-weight: 500
			line-height: 200px
		.marquee-container
			height: 200px
			flex: 1
		.container
			@include flexbox
			align-items: center
			justify-content: space-between
		&__counter
			@include flexbox
			gap: 20px
			h3
				font-size: var(--font-size-xxl)
				text-transform: uppercase
				font-weight: 500
				line-height: 200px
			p
				@include flexbox
				flex-direction: column
				align-items: flex-start
				justify-content: space-between
				max-width: 200px
				font-size: 16px
				color: var(--color-white-opacity)
				line-height: 1.1
				padding: 30px 0
				&::before
					content: ''
					display: block
					width: 52px
					height: 52px
					background: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 3H22V22H3L3 30H22V49H30V30H49V22H30V3Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center
	&-category
		margin-bottom: 80px
