{% extends 'components/_layout.html' %}
{% set site_title = 'Агентство' %}

{% block content %}

<main class="main">

	{% include 'components/_header.html' %}

	<section class="services-single">
		<div class="container">
			<div class="marquee-container">
				<h1 class="marquee-text">Агентство</h1>
			</div>
			<div class="services-single__row">
				<h3 class="title-xs">О нас</h3>
				<div class="services-single__content">
					<h2 class="title">Преобразуем бизнес с помощью инноваций и креативности</h2>
					<div class="services-single__text">
						<p>Sageous — это команда профессионалов, стремящихся преобразить мир бизнеса с помощью инновационных решений и креативного подхода. Мы работаем с компаниями различного масштаба, помогая им достигать поставленных целей и реализовывать самые амбициозные идеи.</p>
					</div>
					<a href="#" class="btn btn-pattern"><span>Написать</span></a>
				</div>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="container">
			<h2 class="title">наши ценности</h2>
			<ul class="about-list">
				<li>
					<span></span>
					<h3>Инновации</h3>
					<p>Мы постоянно ищем новые идеи и технологии, чтобы предлагать нашим клиентам передовые решения</p>
				</li>
				<li>
					<span></span>
					<h3>Клиенты</h3>
					<p>Потребности клиента — наш приоритет. Мы внимательно слушаем и учитываем все пожелания на каждом этапе работы.</p>
				</li>
				<li>
					<span></span>
					<h3>Команда</h3>
					<p>В Sageous мы ценим сотрудничество и поддержку. Наша команда работает как единое целое, чтобы достигать выдающихся результатов.</p>
				</li>
				<li>
					<span></span>
					<h3>Ответственность</h3>
					<p>Мы берём на себя ответственность за результаты нашей работы и стремимся к максимальной прозрачности в отношениях с клиентами.</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="about-mission">
		<div class="container">
			<div class="services-single__row">
				<h3 class="title-xs">Наша миссия</h3>
				<div class="services-single__content">
					<h2 class="title">Создаем уникальную ценность через высококачественные услуги</h2>
					<div class="services-single__text">
						<p>Наша миссия заключается в том, чтобы предоставлять нашим клиентам высококачественные услуги, которые помогут им не только улучшить свои бизнес-процессы, но и создать уникальную ценность для их пользователей. Мы верим, что каждый проект — это возможность создать что-то замечательное, и стремимся превзойти ожидания на каждом этапе сотрудничества.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}