{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

{% include 'components/_header.html' %}

<div class="preloader">
    <svg class="preloader-mask" width="100%" height="100%">
        <defs>
            <mask id="rectMask">
                <rect width="100%" height="100%" fill="#ffffff"/>
                <path class="mask-path" 
                      d="M150 1 H221 A79 79 0 0 1 298 79 V79 A79 79 0 0 1 221 158 H79 A79 79 0 0 1 1 79 V79 A79 79 0 0 1 79 1 H150" 
                      fill="#000000" style="transform: scale(0);"/>
            </mask>
        </defs>
        <rect width="100%" height="100%" fill="#000000" mask="url(#rectMask)"/>
    </svg>
    <div class="preloader-switch">
        <svg width="300" height="160" viewBox="0 0 300 160" fill="none">
            <path d="M150 1 H221 A79 79 0 0 1 298 79 V79 A79 79 0 0 1 221 158 H79 A79 79 0 0 1 1 79 V79 A79 79 0 0 1 79 1 H150" 
                  stroke="rgba(255,255,255,0.25)" stroke-width="2"/>
            <path class="preloader-path" 
                  d="M150 1 H221 A79 79 0 0 1 298 79 V79 A79 79 0 0 1 221 158 H79 A79 79 0 0 1 1 79 V79 A79 79 0 0 1 79 1 H150" 
                  stroke="#FFFFFF" stroke-width="2"/>
        </svg>
		<div class="preloader-progress">0%</div>
    </div>
</div>

<section class="hero" style="background-image: url(../img/hero-bg.jpg);">
	<video preload playsinline autoplay loop muted class="hero-video">
    	<source src="video/hero-video.mp4" type="video/mp4">
  	</video>
	<div class="container">
		<div class="hero-content">
			<h2 class="hero-label">Digital agency</h2>
			<h1 class="hero-title">Успешные маркетинговые проекты</h1>
			<p class="hero-desc">Проекты, не похожие на другие</p>
		</div>
		<a href="#" class="btn btn-pattern"><span>Написать</span></a>
	</div>
</section>

<main class="main">

	<section class="home-nav">
		<div class="container">
			<ul>
				<li><a href="#marketing">Направления</a></li>
				<li><a href="#approach">Подход</a></li>
				<li><a href="#exp">Опыт</a></li>
				<li><a href="#footer">Связь с нами</a></li>
			</ul>
		</div>
	</section>

	<section class="strategies">
		<div class="container">
			<div class="strategies-row">
				<ul class="strategies-list">
					<li>
						<p>Многогранный опыт</p>
						<span></span>
					</li>
					<li>
						<p>Уникальные идеи</p>
						<span></span>
					</li>
					<li>
						<p>Амбициозные решения</p>
						<span></span>
					</li>
				</ul>
				<div class="strategies-text">
					<h2 class="title" data-animate-text>У каждого бизнеса есть цели и препятствия, которые требуют тщательно продуманной стратегии, столь же уникальной как сам бренд.</h2>
					<p class="strategies-desc">Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения, чтобы добиться самых амбициозных целей. И наши результаты говорят сами за себя.</p>
					<a href="#" class="btn btn-pattern"><span>написать</span></a>
				</div>
			</div>
		</div>
	</section>

	<section class="full-image-wrapper">
		<div class="full-image">
			<img src="img/home-image.jpg" alt="">
		</div>
	</section>

	<section class="marketing" id="marketing">
		<div class="container">
			<div class="marketing-head">
				<h2 class="title" data-animate-text>Наши<br> направления</h2>
				<p class="marketing-desc">Мы предлагаем комплексный подход к маркетингу, охватывающий все каналы коммуникаций. Так мы строим сильные бренды, создаем их индивидуальность, развиваем каналы продвижения и обеспечиваем по-настоящему успешный результат.</p>
			</div>
		</div>
		<div class="marketing-list">
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Исследования рынка</h3>
						<p>От прототипа сайта до полномасштабной платформы ресурса. Команда веб-разработчиков, которая реализует проект любой сложности в соответствии с бизнес-целями и техническими требованиями.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Брендинг</h3>
						<p>Один из важнейших аспектов любого бизнеса, большого или малого. Сильный бренд – это значительное преимущество на современном высококонкурентном рынке.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Дизайн</h3>
						<p>Визуальный контент как часть коммуникации. В век информационной перегрузки мы используем самые оптимальные и нестандартные способы его оформления и использования.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Стратегии продвижения</h3>
						<p>Эффективная стратегия – ключевой ориентир для развития бренда и всей будущей коммуникации, оценки работы и принятия решений.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Креатив и сторителлинг</h3>
						<p>Неотъемлемая часть коммуникации и самый привлекательный контент для контакта с аудиторией.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Performance маркетинг</h3>
						<p>Комплекс интегрированных решений для продвижения бренда, его товаров и услуг в короткие сроки и с измеримыми результатами.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Продакшн</h3>
						<p>Уникальный медийный контент, который отвечает задачам бизнеса и инсайтам аудиторий.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Веб-разработка</h3>
						<p>От прототипа сайта до полномасштабной платформы ресурса. Команда веб-разработчиков, которая реализует проект любой сложности в соответствии с бизнес-целями и техническими требованиями.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="approach" id="approach">
		<div class="approach-bg">
			<div class="approach-bg__right"></div>
			<div class="approach-bg__left"></div>
		</div>
		<div class="approach-content">
			<div class="container">
				<div class="approach-head">
					<div class="approach-switch"><span></span>Профессиональный подход</div>
					<h2 class="title" data-animate-text>Что нас отличает от других?</h2>
				</div>
				<div class="approach-image">
					<img src="img/approach-image.png" alt="">
					<div class="approach-name">Sageuos</div>
				</div>
				<div class="approach-list">
					{% include 'components/approach-item.html' %}
					{% include 'components/approach-item.html' %}
					{% include 'components/approach-item.html' %}
					{% include 'components/approach-item.html' %}
				</div>
			</div>
		</div>
	</section>

	<section class="exp" id="exp">
		<div class="container">
			<div class="exp-image"><img src="img/exp-image.png" alt=""></div>
			<div class="exp-wrapper">
				<div class="exp-content">
					<div class="exp-switch"><span></span>Многолетний опыт</div>
					<h2 class="title" data-animate-text>Погружаясь в ваш бизнес, мы создаем стратегии, которые приносят реальные результаты</h2>
					<p class="exp-desc">Мы верим, что только постоянное взаимодействие с клиентами и погружение в проблематику их бизнеса позволяет решать бизнес-задачи, повышать узнаваемость, растить продажи и аудитории брендов, а также достигать самых невероятных результатов. За годы работы наша команда накопила уникальный опыт работы в разных сферах и сегментах бизнеса и каждый день мы продолжаем свой рост</p>
				</div>
			</div>
		</div>
	</section>

	<section class="clients">
		<div class="container">
			<div class="clients-head">
				<h2 class="clients-title">Наши клиенты</h2>
				<a href="#" class="btn btn-arrow">Проекты</a>
			</div>
			<div class="clients-wrapper">
				<div class="clients-row">
					<div class="clients-list">
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
					</div>
				</div>
				<div class="clients-row">
					<div class="clients-list">
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
						{% include 'components/clients-item.html' %}
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}