{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="hero">
	<div class="container">
		<div class="hero-content">
			<h2 class="hero-label">Digital agency</h2>
			<h1 class="hero-title">Успешные маркетинговые проекты</h1>
			<p class="hero-desc">Проекты, не похожие на другие</p>
		</div>
		<a href="#" class="btn btn-pattern"><span>Написать</span></a>
	</div>
</section>

<main class="main">

	<section class="home-nav">
		<div class="container">
			<ul>
				<li><a href="#">Направления</a></li>
				<li><a href="#">Подход</a></li>
				<li><a href="#">Опыт</a></li>
				<li><a href="#">Связь с нами</a></li>
			</ul>
		</div>
	</section>

	<section class="strategies">
		<div class="container">
			<div class="strategies-row">
				<ul class="strategies-list">
					<li>
						<p>Многогранный опыт</p>
						<span class="active"></span>
					</li>
					<li>
						<p>Уникальные идеи</p>
						<span></span>
					</li>
					<li>
						<p>Амбициозные решения</p>
						<span></span>
					</li>
				</ul>
				<div class="strategies-text">
					<h2 class="title">У каждого бизнеса есть цели и препятствия, которые требуют тщательно продуманной стратегии, столь же уникальной как сам бренд.</h2>
					<p class="strategies-desc">Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения, чтобы добиться самых амбициозных целей. И наши результаты говорят сами за себя.</p>
					<a href="#" class="btn btn-pattern"><span>написать</span></a>
				</div>
			</div>
		</div>
	</section>

	<section class="full-image"><img src="img/home-image.jpg" alt=""></section>

</main>

{% endblock %}