{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги' %}

{% block content %}

<main class="main">

	{% include 'components/_header.html' %}

	<section class="services-title">
		<div class="container">
			<div class="marquee-container">
				<h1 class="marquee-text">Услуги</h1>
			</div>
		</div>
	</section>

	<section class="full-image-2">
		<img src="img/services-image.jpg" alt="">
	</section>

	<section class="marketing">
		<div class="container">
			<div class="marketing-head">
				<h2 class="title">Наши<br> направления</h2>
				<p class="marketing-desc">Мы предлагаем комплексный подход к маркетингу, охватывающий все каналы коммуникаций. Так мы строим сильные бренды, создаем их индивидуальность, развиваем каналы продвижения и обеспечиваем по-настоящему успешный результат.</p>
			</div>
		</div>
		<div class="marketing-list">
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Исследования рынка</h3>
						<p>От прототипа сайта до полномасштабной платформы ресурса. Команда веб-разработчиков, которая реализует проект любой сложности в соответствии с бизнес-целями и техническими требованиями.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Брендинг</h3>
						<p>Один из важнейших аспектов любого бизнеса, большого или малого. Сильный бренд – это значительное преимущество на современном высококонкурентном рынке.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Дизайн</h3>
						<p>Визуальный контент как часть коммуникации. В век информационной перегрузки мы используем самые оптимальные и нестандартные способы его оформления и использования.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Стратегии продвижения</h3>
						<p>Эффективная стратегия – ключевой ориентир для развития бренда и всей будущей коммуникации, оценки работы и принятия решений.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Креатив и сторителлинг</h3>
						<p>Неотъемлемая часть коммуникации и самый привлекательный контент для контакта с аудиторией.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Performance маркетинг</h3>
						<p>Комплекс интегрированных решений для продвижения бренда, его товаров и услуг в короткие сроки и с измеримыми результатами.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Продакшн</h3>
						<p>Уникальный медийный контент, который отвечает задачам бизнеса и инсайтам аудиторий.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="marketing-item">
				<div class="container">
					<div class="marketing-item__content">
						<h3>Веб-разработка</h3>
						<p>От прототипа сайта до полномасштабной платформы ресурса. Команда веб-разработчиков, которая реализует проект любой сложности в соответствии с бизнес-целями и техническими требованиями.</p>
						<a href="#" class="btn btn-arrow">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}