{% extends 'components/_layout.html' %}
{% set site_title = 'Услуги (страницы)' %}

{% block content %}

<main class="main">

	{% include 'components/_header.html' %}

	<section class="services-single">
		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Дизайн</a></li>
				<li><a href="#">Вы здесь</a></li>
			</ul>
			<div class="marquee-container">
				<h1 class="marquee-text">Дизайн пользовательского интерфейса (UI)</h1>
			</div>
			<div class="services-single__row">
				<ul class="services-single__nav">
					<li class="active"><a href="#">Об услуге</a></li>
					<li><a href="#">Этапы работы</a></li>
					<li><a href="#">Результат</a></li>
					<li><a href="#">Проекты</a></li>
				</ul>
				<div class="services-single__content">
					<div class="services-single__text">
						<p>Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения, чтобы добиться самых амбициозных целей. И наши результаты говорят сами за себя.  Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения</p>
						<p>Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения, чтобы добиться самых амбициозных целей. И наши результаты говорят сами за себя.  Все наши клиенты, от стартапов до лидеров рынка, отличаются своей историей, задачами и видением будущего. Каждому из них мы предлагаем неповторимые решения</p>
					</div>
					<a href="#" class="btn btn-pattern"><span>Заказать</span></a>
				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}